/*Global styles
-------------------------------------------*/
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  max-width: 1440px;
  font-weight: 400;
  background-color: hsl(204, 43%, 93%);
  width: 100vw;
  height: 100vh;
  font-family: "Karla", sans-serif;
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

/*Body styles
-------------------------------------------*/
.outer-flex {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 30%;
  margin-left: 30%;
}

.inner-flex {
  display: flex;
  flex-direction: row;
}

.flex-top {
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
}
.flex-bottom {
}
.flex-right {
  background-color: var(--cyan);
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
.flex-left {
  background-color: hsl(179, 62%, 43%);
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

/*Heading styles
-------------------------------------------*/
h2 {
  color: hsl(179, 62%, 43%);
}

.guarantee {
  color: hsl(71, 73%, 54%);
}
/*Other styles
-------------------------------------------*/
li {
  list-style-type: none;
  color: hsl(204, 43%, 93%);
  font-size: 16px;
}
section {
  color: hsl(218, 22%, 67%);
}
span {
  font-size: 30px;
}
ul {
  padding-left: 0pt;
  padding-right: 50px;
}
