/*Global styles
-------------------------------------------*/
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  max-width: 1440px;
  font-weight: 400;
  background-color: hsl(204, 43%, 93%);
  width: 100vw;
  height: 100vh;
  font-family: "Karla", sans-serif;
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

/*Body styles
-------------------------------------------*/
.outer-flex {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 25%;
  margin-left: 25%;
}

.inner-flex {
  display: flex;
  flex-direction: row;
}

.flex-top {
  background-color: #ffffff;
  padding: 20px 40px 30px 40px;
}
/* .flex-bottom {
} */
.flex-right {
  background-color: var(--cyan);
  color: #ffffff;
  padding-left: 40px;
  padding-right: 30px;
  width: 50%;
  padding-top: 20px;
  filter: saturate(110%);
  padding-bottom: 35px;
}
.flex-left {
  background-color: hsl(179, 62%, 43%);
  color: #ffffff;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  filter: brightness(110%);
  width: 50%;
}

/*Heading styles
-------------------------------------------*/
h2 {
  color: hsl(179, 62%, 43%);
}

.guarantee {
  color: hsl(71, 73%, 54%);
}
h4 {
  color: hsl(204, 43%, 93%);
}
.why-us {
  color: hsla(203, 44%, 93%, 0.747);
}
/*Other styles
-------------------------------------------*/
li {
  list-style-type: none;
  color: hsla(203, 44%, 93%, 0.562);
  font-size: 16px;
}
section {
  color: hsl(218, 22%, 67%);
}
.dollar {
  font-size: 30px;
  text-align: center;
}
ul {
  padding-left: 0pt;
  padding-right: 50px;
  padding-bottom: 10px;
}
.button {
  background-color: var(--bright-yellow);
  padding: 15px;
  text-align: center;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  filter: brightness(110%);
  font-weight: bolder;
}
.per-month {
  color: hsla(203, 44%, 93%, 0.712);
  text-align: center;
}
.access {
  padding-bottom: 35px;
  padding-top: 12px;
  color: hsl(204, 43%, 93%);
}
section {
  padding-bottom: 15px;
}

/*Responsive styles
-------------------------------------------*/
@media screen and (max-width: 700px) {
  .inner-flex {
    display: flex;
    flex-direction: column;
    width: 200%;
  }

  .outer-flex {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-right: 10%;
    margin-left: 5%;
  }

  .flex-top {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    line-height: 4vh;
  }
  .flex-right {
    padding: 20px 20px 20px 20px;
  }
  .flex-left {
    padding: 20px 20px 20px 20px;
  }
}
